@{
    ViewBag.Title = "Contact";
}
<h2>Racunske operacije</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div>
    @using (Html.BeginForm())
    {
    <input type="text" id="vrijednost1" />
    <input type="text" id="vrijednost2" />

    <label>@Html.RadioButton("Operacija", "+", new { @class = "form-group" }) +</label>
    <label>@Html.RadioButton("Operacija", "-", new { @class = "form-group" }) -</label>
    <label>@Html.RadioButton("Operacija", "*", new { @class = "form-group" }) *</label>
    <label>@Html.RadioButton("Operacija", "/", new { @class = "form-group" }) /</label>

    <input type="submit" value="IZRACUNAJ" id="btnIzracunaj" />

    <input type="text" id="rezultat" disabled />
    }

</div>

@Scripts.Render("~/bundles/jquery")

@section scripts{<script src="~/Scripts/App/operacija.js"></script>}