@model Skola.Models.StatistikaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var p = 1;
}

<h2>STATISTICKI LIST</h2>

<div>
    <hr />
    <div class="row">
        <div class="col">

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                    @Html.DisplayNameFor(model => model.UkupanBrojUcenika)
                    <span class="badge badge-primary">@Html.DisplayFor(model => model.UkupanBrojUcenika)</span>
                </li>
            </ul>

            <div class="mt-3">
                <h3>TOP 3 Ucenika:</h3>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Redni broj</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Prezime</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            p = 1;
                            for (int i = 0; i < Model.Top3OdlicnihUcenika.Count; i++)
                            {
                                <tr class="bg-dark">
                                    <th scope="row" class="boja">@p.</th>
                                    <th scope="row">@Model.Top3OdlicnihUcenika.ElementAt(i).Ime</th>
                                    <th scope="row">@Model.Top3OdlicnihUcenika.ElementAt(i).Prezime</th>
                                </tr>
                                p++;
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="mt-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.BrojOdlicnih)
                        <span class="badge badge-success">@Html.DisplayFor(model => model.BrojOdlicnih)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.BrojVrloDobrih)
                        <span class="badge badge-secondary">@Html.DisplayFor(model => model.BrojVrloDobrih)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.BrojDobrih)
                        <span class="badge badge-info">@Html.DisplayFor(model => model.BrojDobrih)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.BrojDovoljnih)
                        <span class="badge badge-warning">@Html.DisplayFor(model => model.BrojDovoljnih)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.BrojNedovoljnih)
                        <span class="badge badge-danger">@Html.DisplayFor(model => model.BrojNedovoljnih)</span>
                    </li>
                </ul>
            </div>

            <div class="mt-3">
                <h3>Broj odlicnih po djeljenjima:</h3>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Redni broj</th>
                            <th scope="col">Odjeljenje</th>
                            <th scope="col">Broj ucenika</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            p = 1;
                            for (int i = 0; i < Model.OdlicnihOdjeljenjes.Count; i++)
                            {
                                <tr class="bg-dark">
                                    <th class="boja" scope="row">@p.</th>
                                    <th scope="row">@Model.OdlicnihOdjeljenjes.ElementAt(i).Odjeljenje</th>
                                    <th scope="row">@Model.OdlicnihOdjeljenjes.ElementAt(i).BrojUcenika</th>
                                </tr>
                                p++;
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="mt-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.BrojMuskih)
                        <span class="badge badge-success">@Html.DisplayFor(model => model.BrojMuskih)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.BrojZenskih)
                        <span class="badge badge-danger">@Html.DisplayFor(model => model.BrojZenskih)</span>
                    </li>
                </ul>
            </div>

            <div class="mt-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.NajboljeOdjeljenjePoProsjeku)
                        <span class="badge badge-primary">@Html.DisplayFor(model => model.NajboljeOdjeljenjePoProsjeku.Naziv)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                        @Html.DisplayNameFor(model => model.ProsjekGodinaUcenika)
                        <span class="badge badge-info">@Html.DisplayFor(model => model.ProsjekGodinaUcenika)</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col">

            <div>
                <h3>Najbolji ucenici TOP(5):</h3>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Redni broj</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Prezime</th>
                            <th scope="col">Prosjek</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            p = 1;
                            for (int i = 0; i < Model.Top5Ucenika.Count; i++)
                            {
                                <tr class="bg-dark">
                                    <th scope="row" class="boja">@p.</th>
                                    <th scope="row">@Model.Top5Ucenika.ElementAt(i).Ime</th>
                                    <th scope="row">@Model.Top5Ucenika.ElementAt(i).Prezime</th>
                                    <th scope="row">@Model.Top5Ucenika.ElementAt(i).Prosjek</th>
                                </tr>
                                p++;
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="mt-3">
                <h3>Najbolji Nastavnici TOP(3):</h3>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Redni broj</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Prezime</th>
                            <th scope="col">Prosjek</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            p = 1;

                            for (int i = 0; i < Model.Top3Nastavnika.Count; i++)
                            {
                                <tr class="bg-dark">
                                    <th scope="row" class="boja">@p.</th>
                                    <th scope="row">@Model.Top3Nastavnika.ElementAt(i).Ime</th>
                                    <th scope="row">@Model.Top3Nastavnika.ElementAt(i).Prezime</th>
                                    <th scope="row">@Model.Top3Nastavnika.ElementAt(i).Prosjek</th>
                                </tr>
                                p++;
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="mt-3">
                <h3>Najbolji Predmeti TOP(4):</h3>
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Redni broj</th>
                            <th scope="col">Naziv</th>
                            <th scope="col">Prosjek</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            p = 1;
                            for (int i = 0; i < Model.Top4Predmeta.Count; i++)
                            {
                                <tr class="bg-dark">
                                    <th class="boja" scope="row">@p.</th>
                                    <th scope="row">@Model.Top4Predmeta.ElementAt(i).Naziv</th>
                                    <th scope="row">@Model.Top4Predmeta.ElementAt(i).Prosjek</th>
                                </tr>
                                p++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mt-5">
        @using (Html.BeginForm())
        {
            <div class="input-group mb-3">
                @Html.TextBox("Pretraga", "", new { @id = "txtPrikaz", @class = "form-control col-11", @placeholder = "Ime, prezime, jmbg, broj u dnevniku" })
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" id="btnKlik" type="submit" value="PRETRAZI" />
                </div>
            </div>
            <div class="col mt-4">
                <div class="row">
                    @Html.DropDownList("OdjeljenjeId", Model.Odjeljenjes as List<SelectListItem>, new { @id = "odjeljenjeID", @class = "form-control col-6" })
                    <div class="col-6">
                            <label>@Html.RadioButton("Pol", "Musko", new {  @class = "form-group"}) Musko</label>
                            <label>@Html.RadioButton("Pol", "Zensko", new {  @class = "form-group" }) Zensko</label>
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="">
        <table id="tabelaPrikaz" class="table mt-5">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">UcenikID</th>
                    <th scope="col">Ime</th>
                    <th scope="col">Prezime</th>
                    <th scope="col">
                        Pol 
                    </th>
                    <th scope="col">
                        Jmbg 
                    </th>
                    <th scope="col">
                        Adresa
                    </th>
                    <th scope="col">
                        Datum rodjenja
                    </th>
                    <th scope="col">
                        Ime roditelja
                    </th>
                    <th scope="col">
                        Broj u dnevniku
                    </th>
                    <th scope="col">
                        Drzavljanstvo
                    </th>
                    <th scope="col">Naziv odjeljena </th>
                </tr>
            </thead>
            <tbody id="tabelaBody">
               
            </tbody>
        </table>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script>
        (function () {

            let btnKlik = document.getElementById("btnKlik");
            let txtPrikaz = document.getElementById("txtPrikaz");

            btnKlik.addEventListener("click", (event) => {
                event.preventDefault();
                var data = {
                    pretraga: $('#txtPrikaz').val(),
                    odjeljenje: $("#odjeljenjeID").val(),
                    pol: $("#Pol:checked").val() == undefined ? "" : $("#Pol:checked").val()
                };

                $.get("/Statistika/Podaci", data, function (result, status) {
                    dodajPodatake(result);
                });

            });
        })();

        function dodajPodatake(data) {
            $("#tabelaBody tr").remove(); 
            data.forEach(ele => {
                var row = document.createElement("tr");
                var td1 = document.createElement("th");
                td1.innerHTML = ele.UcenikId;
                row.append(td1);
                var td2 = document.createElement("th");
                td2.innerHTML = ele.Ime;
                row.append(td2);
                var td3 = document.createElement("th");
                td3.innerHTML = ele.Prezime;
                row.append(td3);
                var td4 = document.createElement("th");
                td4.innerHTML = ele.Pol;
                row.append(td4);
                var td5 = document.createElement("th");
                td5.innerHTML = ele.Jmbg;
                row.append(td5);
                var td6 = document.createElement("th");
                td6.innerHTML = ele.Adresa;
                row.append(td6);
                var td7 = document.createElement("th");
                td7.innerHTML = ele.DatumRodjenja;
                row.append(td7);
                var td8 = document.createElement("th");
                td8.innerHTML = ele.ImeRoditelja;
                row.append(td8);
                var td9 = document.createElement("th");
                td9.innerHTML = ele.BrojUDnevniku;
                row.append(td9);
                var td10 = document.createElement("th");
                td10.innerHTML = ele.Drzavljanstvo;
                row.append(td10);
                var td11 = document.createElement("th");
                td11.innerHTML = ele.NazivOdjeljena;
                row.append(td11);
                $("#tabelaPrikaz").append(row);
            });
            
        }

    </script>

</div>


